<div class="row col-md-12">
    <h1 class="text-center">M.E.A.N. with Angular 2.0</h1>
    <hr>
    <div class="row col-md-12">
        <div>
            <input class="form-control input-lg" placeholder="Add a new task" autofocus #todotext (keydown)="keyDownFunction($event, todotext)"/>
        </div>
    </div>
    <br/>
    
    <div *ngFor="let item of myItems; let i = index">
        <div class="row" style="width: 500px; float:left; padding:2px; margin: 10px">
            <div [id]="i" class="panel panel-default">
                <div class="panel-heading"><h3>{{item.name}}</h3></div>
                <div class="panel-body">
                    <label class="row ">Status:</label><input class="form-control" [(ngModel)]="item.status" [disabled]="item.disableEdit" />
                    <br />
                    <label class="row  ">Description:</label><textarea class="form-control"  [disabled]="item.disableEdit" [(ngModel)]="item.description" ></textarea> 
                    <br />
                    <label class="row  ">User:</label><input class="form-control"  [(ngModel)]="item.user" [disabled]="item.disableEdit" /> 
                    <br />
                    <label class="row  ">Created Date:</label><input class="form-control" disabled="disabled" [(ngModel)]="item.created_date" />  
                    <br />
                    <label class="row  ">Priority:</label><input class="form-control" [(ngModel)]="item.priority" [disabled]="item.disableEdit" /> 
                    <br/>
                    <br />
                    <div class="row col-md-12">
                        <input type="button" class="btn btn-danger pull-right col-sm-3" value="Delete" (click)="deleteTask(item)" />
                        <input type="button" class="btn btn-info col-sm-3" value="Edit" (click)="setEditState(item, false)" />
                        <input type="button" class="btn btn-info col-sm-3" value="Save" [disabled]="item.disableEdit" (click)="updateTask(item)" />
                        <input type="button" class="btn btn-info col-sm-3" value="Cancel" [disabled]="item.disableEdit" (click)="setEditState(item, true)" />
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>