<div class="row col-md-12">
    <h1 class="text-center">M.E.A.N. with Angular 2.0</h1>
    <hr>
    <div class="row col-md-12">
        <div>
            <input class="form-control input-lg" placeholder="Add a new task" autofocus >
        </div>
    </div>
    <br/>
    
    <div *ngFor="let item of myItems; let i = index">
        <div class="panel-group">
            <div [id]="i" class="panel panel-default">
                <div class="panel-heading">{{item.name}}</div>
                <div class="panel-body">
                    <label class="row col-md-12 form-control">Status: {{item.status}}</label>
                    <label class="row col-md-12 form-control">Description: {{item.description}}</label>
                    <label class="row col-md-12 form-control">User: {{item.user}}</label>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <input type="button" class="btn btn-info" class="pull-right" value="Edit" (click)="setEditState(item, true)" />
                        <input type="button" class="btn btn-danger" class="pull-right" value="Delete" (click)="deleteTodo(item)" />
                    </div>
                </div>
            </div>
            <br />
        </div>

    </div>
</div>